.DS_Store
.env
.vs/
.vscode/
.idea/
.metadata/
RemoteSystemsTempFiles

#Producer
ProductsProducer/target
ProductsProducer/.settings
ProductsProducer/.classpath
ProductsProducer/.project

#Consumer
ProductsConsumer/target
ProductsConsumer/.settings
ProductsConsumer/.classpath
ProductsConsumer/.project